@(palavra: String)
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Avaliação</title>
</head>
<body bgcolor="grey">
	<h2>Car System</h2><br><br>
	<form action="/prova/login" method="post">
		<input type="text" name="nome" placeholder="Nome"><br>
		<input type="password" name="senha" placeholder="Senha"><br><br>
		<input type="submit" value="Entrar">
	</form>
	<br>
	<br>
	<b style="color="red">@palavra</b>
	<br>
	<b>Nome : wannderson</b>
	<bR>
	<b>Senha : scalaplay</b>
</body>
</html>